body {
  background-color: #f8f8f8;
  margin: 0px;
}
#wrapper {
  margin: 0px 0px;
  width: 275px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  max-height: 600px;
}
.separator {
  width: 100%;
  border-top: 2px groove white;
  margin: 5px -5px 5px -3px;
}
#titletext {
  padding: 8px 8px 2px 0px;
  text-align: center;
}